

/* navbar ------------------------------------------ */


.nav-bar {
    height: 70px;
}


/* carousel slide ---------------------------------- */


.div-row1-div {
    width: 48%;
    height: 31vh;
    margin-left: 2%;
    margin-top: 2vh;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.436);
}

.div-row1-div h2 {
    font-weight: 600;
    font-size: calc(19px + 1vw);
}

.div-row1-div h4 {
    font-size: calc(9px + 1vw);
}

.a-Mehr-erfahren {
    width: 20vw;
    height: 6vh;
    margin-top: 4%;
    text-align: center;
}

.a-Mehr-erfahren a {
    line-height: 5vh;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 200px;
}

/* ------------------------------------------------------------------------ */

.featured {
    margin: 400px auto 10px 25px;
    width: 50%;
}

/* ------------------------------------------------------------------------- */


.learn-more {
    width: 172px;
    height: 57px;
    display: inline-block;
}

#learn-more {
    margin-left: 20px;

}

.link1 {
    margin-left: 20px;
}

.text {
    margin: 20px;
}

.div-box {
    width: 500px;
    margin-top: 5px;
    margin-left: 20px;
}

.learn-more:hover a {
    color: black !important;
}

.buy {
    margin-top: 7px;
}

.buy a {
    line-height: 57px;
}


/* ----------------------------------------------------------------------- */

#featured {
    margin-top: 200px !important;
    width: 30% !important;
    margin-left: 20px;
}

/* slider ---------------------------------------------------------------- */

.controls {
    display: none;
}

.pic-center {
    width: 100% !important;
}


.div-text-pic {
    margin-left: -90px;
}

.pic-h {
    width: 80%;
    height: 450px;
    margin-left: 100px;
    filter: brightness(60%);
}

.div-hover-text {
    display: none;
}


.div-button {
    width: 10px !important;
    height: 10px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 500px 10px 0px !important;
}

/* div-attachment --------------------------------------------------------------------- */

.div-attachment {
    height: 70vw !important;
    margin-top: 150px;
}

.div-attachment h1 {
    margin-top: 220px;
}

/* --------------------------------------------------------------------------------------- */

.title-image h2 {
    font-size: 25px !important;
    margin-left: 15px !important;
    margin-top: -30px !important;
}

/* ------------------------------------------------------------------------------------------ */

.image1,
.image2 {
    height: calc(100vh - 55vw);
}

.div-4pic-text p {
    width: 90% !important;
}

.div-btn {
    width: 25%;
    height: 55px;
}

.div-btn a {
    line-height: 52px;
}

/* --------------------------------------------------------------------------------------- */

.text-flex {
    margin-left: 11% !important;
}

.text-flex a {
    margin-left: 44vw;
}

/* --------------------------------------------------------------------------------------- */

.h-text {
    height: calc(100vh - 55vw);
}

/* footer --------------------------------------------------------------------------------------- */

.div-main {
    margin-left: -11%;
}

.dropdown-footer {
    width: 100%;
    text-align: left;
}

.ul-icon {
    margin-left: 12vw !important;
    padding-top: 55px;
}

.li-icon {
    margin-left: 15px !important;
}

/* ------------------------------------ */

.title-footer {

    font-weight: 700;
    font-size: 18px;
    margin-top: 70px;


}

.text-footer {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.426) !important;
    line-height: 30px;
    display: block;
}

.text-footer:hover {
    text-decoration: underline !important;
    color: white !important;
}

.all-menu {
    padding-bottom: 50px;
}


/* ---------------------------- */

.div-link-end {
    justify-content: center;
}

.link-end {
    border-right: 1px solid rgba(255, 255, 255, 0.426);
    padding-right: 2px;
    padding-left: 2px;
    font-size: 15px;
    display: inline-block;
}

.small-menu {
    display: none;
}